.contact-section {
  background-color: #121212;
  color: #e0e0e0;
  padding: 80px 20px;
  text-align: center;
  font-family: "Syne", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.direct-mail-container {
  margin-top: 30px;
  text-align: center;
}

.or-text {
  color: #888;
  margin: 15px 0;
  font-size: 1rem;
  font-style: italic;
}

.mail-me-btn {
  display: inline-block;
  background-color: transparent;
  color: #00ff99;
  font-size: 1.1rem;
  font-weight: bold;
  border: 2px solid #00ff99;
  padding: 10px 20px;
  border-radius: 30px;
  text-decoration: none;
  transition: all 0.3s ease;
}

.mail-me-btn:hover {
  background-color: #00ff99;
  color: #121212;
  transform: scale(1.05);
}

.contact-title {
  color: #00ff99;
  font-size: 2rem;
  margin-bottom: 40px;
  font-weight: bold;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  background-color: #1a1a1a;
  border-radius: 10px;
  padding: 20px;
}

.form-group {
  margin-bottom: 20px;
  width: 100%;
}

.form-group label {
  display: block;
  color: #ccc;
  font-size: 1.1rem;
  margin-bottom: 8px;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  color: #121212;
  background-color: #2a2a2a;
  border: 1px solid #333;
  border-radius: 5px;
}

.form-group input:focus,
.form-group textarea:focus {
  outline: none;
  border-color: #00ff99;
}

.submit-btn {
  background-color: #00ff99;
  color: #121212;
  font-size: 1.25rem;
  font-weight: bold;
  border: none;
  border-radius: 50px;
  padding: 12px 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.submit-btn:hover {
  background-color: #00cc7a;
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .contact-form {
    width: 90%;
    padding: 15px;
  }

  .contact-title {
    font-size: 1.8rem;
  }

  .form-group label {
    font-size: 1rem;
  }

  .form-group input,
  .form-group textarea {
    font-size: 0.9rem;
  }

  .submit-btn {
    font-size: 1.1rem;
  }
}
